<div class="container">
<h1>Login Page</h1>
  <form class="" action="/login" method="post" id="loginForm">
    <input type="text" id ='username' placeholder="Username" required>
    <input type="password" id ='password' placeholder="Password" required>
    <button type="submit" name="button" id="btn">Login</button>
    <h4>If you do not have account &rsaquo;&rsaquo;  <a href="/register">Register here</a></h4>
    <div id="paragraph">
    </div>
  </form>
</div>
<script src="js/login.js" charset="utf-8"></script>
<script src="js/loginDom.js" charset="utf-8"></script>
