<div class="containerChat">
  <h1>MWM Room Chat </h1>
  <h2>Hello : <span id='usernameChat'>{{data.username}}</span></h2>
  <div class="room">
    <ul>
    {{#each posts}}
      <li>{{this.username }} : {{message}}</li>
    {{/each}}
  </ul>
  </div>
  <div class="chats">
    <form class="" action="" method="post" onkeyup="pressEnter()">
      <input type="text" id='message' placeholder="Write Your Message">
      <center><button type="button" class="send" id="btn" >Send</button></center>
    </form>
  </div>
</div>
<script src="js/roomChat.js" charset="utf-8"></script>
<script src="js/roomChatDom.js" charset="utf-8"></script>
